*.gitignore filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.gitkeep filter=lfs diff=lfs merge=lfs -text
*.go filter=lfs diff=lfs merge=lfs -text
*.mod filter=lfs diff=lfs merge=lfs -text
*.sum filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.tsx filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.ts filter=lfs diff=lfs merge=lfs -text
*.code-workspace filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
*.dockerignore filter=lfs diff=lfs merge=lfs -text
/src/backend/docker/auth/Dockerfile filter=lfs diff=lfs merge=lfs -text
/src/backend/docker/trading/Dockerfile filter=lfs diff=lfs merge=lfs -text
/src/backend/docker/user/Dockerfile filter=lfs diff=lfs merge=lfs -text
*.sql filter=lfs diff=lfs merge=lfs -text
/src/backend/docker/marketdata/Dockerfile filter=lfs diff=lfs merge=lfs -text
*.mustache filter=lfs diff=lfs merge=lfs -text
/src/frontend/Dockerfile filter=lfs diff=lfs merge=lfs -text
*.conf filter=lfs diff=lfs merge=lfs -text
/src/backend/docker/market/Dockerfile filter=lfs diff=lfs merge=lfs -text
*.tf filter=lfs diff=lfs merge=lfs -text
*.hcl filter=lfs diff=lfs merge=lfs -text
*.env filter=lfs diff=lfs merge=lfs -text
*.helmignore filter=lfs diff=lfs merge=lfs -text
*.tpl filter=lfs diff=lfs merge=lfs -text
/src/backend/docker/news/Dockerfile filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
